In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os

## Aggregate all mass shooting incidents (years 2014-2019)

In [9]:
df_list = []

for i in range(2015,2020):
    path = f"data/{i}_shootings.csv"
    df = pd.read_csv(path)
    df_list.append(df)
    
df = df_2014.append(df_list, ignore_index = True)
df.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,state_abbr,lat,lon
0,"December 29, 2014",Louisiana,New Orleans,Poydras and Bolivar,0,4,NaN,LA,29.954028,-90.084158
1,"December 27, 2014",California,Los Angeles,8800 block of South Figueroa Street,1,3,NaN,CA,33.957372,-118.282712
2,"December 27, 2014",California,Sacramento,4000 block of May Street,0,4,NaN,CA,38.640429,-121.443274
3,"December 26, 2014",Illinois,East St. Louis,2500 block of Summit Avenue,1,3,NaN,IL,38.619618,-90.125416
4,"December 24, 2014",Missouri,Saint Louis,18th and Pine,1,3,NaN,MO,38.630465,-90.206117

## Add "year" column to the dataframe

In [10]:
df['Year'] = df['Incident Date'].apply(lambda x: x.split(',')[1])
df.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,state_abbr,lat,lon,Year
0,"December 29, 2014",Louisiana,New Orleans,Poydras and Bolivar,0,4,NaN,LA,29.954028,-90.084158,2014
1,"December 27, 2014",California,Los Angeles,8800 block of South Figueroa Street,1,3,NaN,CA,33.957372,-118.282712,2014
2,"December 27, 2014",California,Sacramento,4000 block of May Street,0,4,NaN,CA,38.640429,-121.443274,2014
3,"December 26, 2014",Illinois,East St. Louis,2500 block of Summit Avenue,1,3,NaN,IL,38.619618,-90.125416,2014
4,"December 24, 2014",Missouri,Saint Louis,18th and Pine,1,3,NaN,MO,38.630465,-90.206117,2014

## Export aggregated mass shootings data to .csv file

In [39]:
# export_csv = df.to_csv (r'data/shootings_all_years.csv', index = None, header=True)